* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;   /* 16 */
    /*min-height: 10px;  10 */
}

window#waybar {
    background: transparent;
}

#workspaces {
    background-color: transparent;
    margin-top: 13px;
    margin-bottom: 6px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button {       /* button when its workspace is NOT currently in use */
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background-color: #fff ;
    border-radius: 15px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-weight: bolder;
    color: 	#cba6f7;
}

#workspaces button.active {      /* button with workspace currently in use */
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    padding-left: 20px;
    padding-bottom: 3px;
    background: rgb(202,158,230);
    background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: #fff;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* #backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#language,
#memory,
#custom-mode,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces, */

#window{
    color: #161320;
    background-color: #e9e499;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 4px;
}

#clock{
    color: #b5db98;
    border-radius: 10px;
    background: #abe9b3;
    padding-left: 13px;
    padding-right: 13px;
    color: #161320;
    margin-top: 10px;
    margin-bottom: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#memory{
    color: #161320;
    background-color: #e8a2af;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    margin-bottom: 4px;
}

#cpu{
    margin-top: 10px;
    margin-bottom: 4px;
    color: #161320;
    background-color: #e8a2af;
    padding-left: 10px;
    border-left: 10px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio{
    margin-top: 10px;
    margin-bottom: 4px;
    color: #161320;
    background-color: #e8a2af;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-spotify{
    background-color: #1db954;
    color: black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 4px;
}

#tray{
    margin-top: 10px;
    margin-bottom: 4px;
    background-color: #97a0f2;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}

#custom-updates {
    margin-top: 10px;
    margin-bottom: 4px;
    background-color: #96cdfb;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    color: #161320;
}

#custom-wallchange {
    margin-top: 10px;
    margin-bottom: 4px;
    background-color: #96cdfb;
    padding-left: 12px;
    padding-right: 15px;
    color: #161320;
}

#custom-power {
    margin-top: 10px;
    margin-bottom: 4px;
    background-color: #96cdfb;
    border-radius: 0px 10px 10px 0px;
    margin-right: 25px;
    padding-right: 15px;
    color: #161320;
}