* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;   /* 16 */
    min-height: 0px;  /* 10 */
}

window#waybar {
    background: transparent;
}
/* 
tooltip {
    background: #35343d;
    color: @main-fg;
    border-radius: 10px;
    border-width: 0px;
} */

#workspaces {
    margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #161320;
	transition: none;
}

#workspaces button {       /* button when its workspace is NOT currently in use */
    transition: none;
	color: #B5E8E0;
	background: transparent;
	border-radius: 2px;
    padding-left: 25px;
    padding-right: 25px;
}

#workspaces button.active {      /* button with workspace currently in use */
    transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
    border-top: 2px solid #97cc9e;
    border-bottom: 2px solid #97cc9e;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}
/* 
#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: @wb-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: #a6adc8;
    color: @wb-act-color;
    margin-left: 4px;
    padding-left: 17px;
    padding-right: 17px;
    margin-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: #f5c2e7;
    color: @wb-hvr-color;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
} */

/* #backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#language,
#memory,
#custom-mode,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces, */

#window{
    color: #81aff1;
    background-color: #161320;
    margin-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 10px;
}

#clock{
    color: #b5db98;
    border-radius: 10px;
    background: #abe9b3;
    padding-left: 13px;
    padding-right: 13px;
    color: #161320;
    margin-top: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#memory{
    color: #161320;
    background-color: #e8a2af;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 6px;
}

#cpu{
    margin-top: 6px;
    color: #161320;
    background-color: #e8a2af;
    padding-left: 10px;
    border-left: 10px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio{
    margin-top: 6px;
    color: #161320;
    background-color: #e8a2af;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-spotify{
    background-color: #1db954;
    color: black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    margin-top: 6px;
}

#tray{
    margin-top: 6px;
    background-color: #97a0f2;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}

#custom-updates {
    margin-top: 6px;
    background-color: #96cdfb;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    color: #161320;
}

#custom-wallchange {
    margin-top: 6px;
    background-color: #96cdfb;
    padding-left: 12px;
    padding-right: 15px;
    color: #161320;
}

#custom-power {
    margin-top: 6px;
    background-color: #96cdfb;
    border-radius: 0px 10px 10px 0px;
    margin-right: 25px;
    padding-right: 15px;
    color: #161320;
}